<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'lab4_index.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 4</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/lab-4/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/note-list">Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/add-note">Add Notes</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <h1>Table of Notes</h1>
    <table>
        <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for element in note %}
            <tr>
                <td>{{ element.toWho }}</td>
                <td>{{ element.fromWho }}</td>
                <td>{{ element.title }}</td>
                <td>{{ element.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>