<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'lab4_note_list.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/lab-4/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/note-list">Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/add-note">Add Notes</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div class="card-columns">
        {% for element in note %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ element.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">From: {{ element.fromWho }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">To: {{ element.toWho }}</h6>
                <p class="card-text">{{ element.message }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>