<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="templates/lab2.css">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Note</title>
    </head>
    <body>
        <table border="1" class="styled">
        <thead>
            <tr>
                <th>Name</th>
                <th>NPM</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody>
        {% for element in friends %}
            <tr>
                <td>{{ element.name }}</td>
                <td>{{ element.npm }}</td>
                <td>{{ element.dob }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </body>
</html>