<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Note</title>
  </head>
  <body>
    <table border="1" class="styled">
      <thead>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% for element in note %}
        <tr>
          <td>{{ element.toWho }}</td>
          <td>{{ element.fromWho }}</td>
          <td>{{ element.title }}</td>
          <td>{{ element.message }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
