h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

form {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#textform {
    height: 200px;
}