h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

body {
    background-color: black;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

table thead {
    background: #FCA311;
}

tr {
    height: 40px;
}

th {
    width: 40px;
}

tbody tr:nth-of-type(even) {
    background: #E5E5E5;
}